<!DOCTYPE html>
<html>
<head>
    <title>TEXT UTILITY APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="homepage">
    <div class="nav_bar">
        <div class="nav_links">
     <ul>
         <a href="#"><li>Home</li></a>
         <a href="#"><li>Capitalise First</li></a>
         <a href="#"><li>Space Remover</li></a>
         <a href="#"><li>Character Count</li></a>
     </ul>
            </div>
     </div>
    <div class="banner">
        <H1>Let's <span> Play</span> With Texts!</H1>
    </div>
    <form action="">
    <div class="container">
        <div class="text_area">
            <textarea class="textinput" placeholder="Put your text Here!"></textarea>
        </div>
          <br>    <button type="submit">Analyse Text</button>
     </form>
    </div>
        
</div>
</body>
</html>